{% extends 'base.html.twig' %}

{% block bodyClass %}bg-primary{% endblock %}

{% block body %}
    <div class="pt-5 pb-lg-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-1 text-white">Roomies</h1>
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h3">{{ 'home.form.new.title'|trans({}, 'home') }}</h1>
                                </div>
                                {{ include('components/flash.html.twig') }}
                                {{ form_start(form, {'attr': {'class': 'mt-4'} }) }}
                                <div class="form-group mb-4">
                                    {{ form_label(form.name) }}
                                    <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fas fa-envelope"></span>
                                    </span>
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group mb-4">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-primary'}}) }}
                                </div>
                                {{ form_widget(form._token) }}
                                {{ form_end(form, {'render_rest': false}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
