{% extends 'base.html.twig' %}

{% block title %}{{ 'security.register.title'|trans({}, 'security') }}{% endblock %}

{% block body %}
    <section class="vh-lg-100 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-sm-12 d-flex align-items-center justify-content-center">
                    <div class="row bg-white shadow-soft border rounded border-light">
                        <div class="col-sm-6">
                            <img src="{{ asset('build/images/register.png') }}"
                                 alt="{{ 'security.register.title'|trans({}, 'security') }}">
                        </div>
                        <div class="col-sm-6 my-3 my-lg-0 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">{{ 'security.register.title'|trans({}, 'security') }}</h1>
                            </div>
                            {% if error is defined and error is not empty %}
                                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0" role="alert">
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endif %}
                            {{ form_start(form, {'attr': {'class': 'mt-4'} }) }}
                            <div class="form-group mb-4">
                                {{ form_label(form.name) }}
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fas fa-envelope"></span>
                                    </span>
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.email) }}
                                <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <span class="fas fa-envelope"></span>
                                </span>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.password.first) }}
                                <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-unlock-alt"></span>
                                </span>
                                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.password.second) }}
                                <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="fas fa-unlock-alt"></span>
                                </span>
                                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <hr>
                            <div class="form-group mb-4">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-primary'}}) }}
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
