{#
Parameters:
  * nbPages (int): number of pages
  * currentPage (int): current pages
  * url (string): route name & query (string): route parameter
    ex: list/page-5?q=myFilter (5 = page and query = myFilter)
#}
{% if nbPages > 1 %}
    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 4 %}
    <ul class="pagination float-left">

        {% if currentPage != 1 %}
            <li class="page-item">
                <a href="{{ path(url, params|merge({'page': 1})) }}" class="page-link">Primero</a>
            </li>
        {% endif %}

        {% for i in 1..nbPages %}
            {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
            {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
            {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
            {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
            {% else %}
                <li {% if currentPage == loop.index %} class="page-item active"{% endif %}>
                    <a href="{{ path(url, params|merge({'page': loop.index})) }}" class="page-link">
                        {{ loop.index }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if currentPage != nbPages %}
            <li class="page-item">
                <a href="{{ path(url, params|merge({'page': nbPages})) }}" class="page-link">Último</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
{% if totalCount > 0 %}
    <div class="float-right">
        {{ 'pagination.showing'|trans({}, 'messages') }} {{ ((currentPage - 1) * limit) + 1 }}
        {{ 'pagination.to'|trans({}, 'messages') }} <span>{{ ((currentPage - 1) * limit) + currentCount }}</span>
        {{ 'pagination.of'|trans({}, 'messages') }} <span>{{ totalCount }}</span>
        {{ 'pagination.records'|trans({}, 'messages') }}.
    </div>
{% endif %}
