{% extends 'layout.html.twig' %}

{% page_setup {
    'title': 'expense.title.index'|trans({}, 'expense'),
    'header': 'breadcrumb.items.expense.index.title'|trans({}, 'messages'),
    'breadcrumbs': [
        {
            'name': 'breadcrumb.items.expense.index.name'|trans({}, 'messages'),
            'main': true
        }
    ]
} %}

{% block title %}{{ 'expense.title.index'|trans({}, 'expense') }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
        <div class="btn-toolbar dropdown">
            <a href="{{ path('app_expense_new') }}" class="btn btn-secondary text-dark mr-2">
                <span class="fas fa-plus mr-2"></span>{{ 'expense.toolbar.new_expense'|trans({}, 'expense') }}
            </a>
        </div>
    </div>
    <div class="row mb-2">
        {{ include('app/components/expense/_debts_summary_card.html.twig', {
            'title': 'expense.summary.title'|trans({}, 'expense'),
            'items': get_debts_summary(debts)
        }) }}
        {{ include('app/components/expense/_debts_summary_card.html.twig', {
            'title': 'expense.summary.detail'|trans({}, 'expense'),
            'items': get_debts_explained(debts)
        }) }}
    </div>
    {{ include('components/flash.html.twig') }}
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            {% if data is empty %}
                {{ include('app/components/_no-results.html.twig') }}
            {% else %}
                <div class="table-responsive">
                    {% if dir == 'asc' %}
                        {% set dir_class = '-up' %}
                        {% set new_dir = 'desc' %}
                    {% elseif dir == 'desc' %}
                        {% set dir_class = '-down' %}
                        {% set new_dir = 'asc' %}
                    {% else %}
                        {% set dir_class = '' %}
                        {% set new_dir = '' %}
                    {% endif %}
                    {% set filter_query = get_filter_query(params, ['f']) %}
                    <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                        {{ include('app/components/_th_sortable.html.twig', {
                            'field': 'id', 'key': 'expense.table.column.id', 'domain': 'expense'
                        }) }}
                        {{ include('app/components/_th_sortable.html.twig', {
                            'field': 'title', 'key': 'expense.table.column.title', 'domain': 'expense'
                        }) }}
                        {{ include('app/components/_th_sortable.html.twig', {
                            'field': 'amount', 'key': 'expense.table.column.amount', 'domain': 'expense'
                        }) }}
                        <th class="border-0">{{ 'expense.table.column.tags'|trans({}, 'expense') }}</th>
                        <th class="border-0">{{ 'expense.table.column.created_at'|trans({}, 'expense') }}</th>
                        <th class="border-0">{{ 'table.actions_column'|trans({}, 'messages') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for expense in data %}
                        <tr>
                            <td class="border-0">{{ expense.id }}</td>
                            <td class="border-0">{{ expense.title }}</td>
                            <td class="border-0">{{ expense.amount }}</td>
                            <td class="border-0">
                                {% for tag in expense.tags %}
                                    <span class="badge badge-lg bg-secondary text-dark">{{ tag.name }}</span>
                                {% endfor %}
                            </td>
                            <td class="border-0">{{ expense.createdAt|date('d/m/Y') }}</td>
                            <td class="border-0">
                                <div class="btn-group">
                                    <a href="{{ path('app_expense_detail', {'id': expense.id}) }}"
                                       class="btn btn-sm btn-primary"
                                       title="{{ 'button_titles.view_detail'|trans({}, 'messages') }}">
                                        <span class="far fa-eye"></span>
                                    </a>
                                    <a href="{{ path('app_expense_remove', {'id': expense.id}) }}"
                                       class="btn btn-sm btn-primary"
                                       title="{{ 'button_titles.remove'|trans({}, 'messages') }}">
                                        <span class="fas fa-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ include(
                'app/components/_pagination.html.twig',
                paginationData|merge({'params': params, 'dir_class': dir_class, 'new_dir': new_dir, 'fitler_query': filter_query}),
                false
            ) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
